.footer__social-icon_inst {
    background-image: url(../../../../images/instagram_color_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}